.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    background-color: #161616;
    color: #fff;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: relative;
    z-index: 2222;
    position: fixed;
    width: 100%;

    top: 0;
    margin-left: -18px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5px;
}

.nav {
    display: flex;
    align-items: center;
    margin-right:40px;
}

.nav a {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}

.freeTrial {
    padding: 8px 16px;
    background-color: #2cf6a7;    color: rgb(18, 18, 18);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .logo {
            font-size: 1rem;
            font-weight: bold;
        }
}